#post-body .rwmb-select {
    margin-bottom: 5px !important;
    width: 185px;
}

.rwmb-thickbox-upload,
.rwmb-color { margin-bottom: 5px !important; }
.rwmb-field { margin: 15px 0 !important; }